<!DOCTYPE html>
<html lang="en">

<div th:insert="~{fragments/head::head}"></div> 
<body data-bs-theme="dark" class="d-flex flex-column min-vh-100">
    <!-- start NavBar-->
<div th:insert="~{fragments/navbar::navbar}"></div> 
    <!--END NavBar-->

    <!--Start Container-->
    <div class="container go_down">
        <div class="d-flex justify-content-end">

            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Add vehicule</button>
            <!--Add Modal-->
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary ">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/create-vehicule}" th:object="${v}" method="POST">

                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">marque</label>
                                    <select class="form-select" aria-label="" name="marque" th:field="*{marque}" required>
                                          <option value="marque" selected>marque</option> 
                                        <option value="Mercedes">Mercedes</option>
                                        <option value="Toyota">Toyota</optionvalue="">
                                        <option value="haval">haval</option>
                                        <option value="BMW">BMW</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">modele</label>
                                    <input type="text" class="form-control" placeholder="modele" th:field="*{modele}">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">date de fabrication</label>
                                    <input type="date" class="form-control" placeholder="datefab" th:field="*{datefab}">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">nombres de portes</label>
                                    <input type="number" class="form-control" placeholder="nbrportes" th:field="*{nbrportes}">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">prix</label>
                                    <input type="number" class="form-control" placeholder="prix" th:field="*{prix}">
                                </div>

                           
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                         </form>
                    </div>
                </div>
            </div>
            <!--Add Modal-->
        </div>
          <!--Alert DEKETE-->
        <div th:if="${message_delete}" class="alert alert-danger go_down" role="alert">
           <strong th:text="${message_delete}"></strong>
        </div>
          <!--Alert Creation-->
        
        <div th:if="${message_ajout}" class="alert alert-primary go_down" role="alert">
           <strong th:text="${message_ajout}"></strong>
        </div>
        <!--Alert Edit-->
        
        <div th:if="${message_edit}" class="alert alert-warning go_down" role="alert">
           <strong th:text="${message_edit}"></strong>
        </div>
        
        
        
        
        </br>
        <h3>Table vehicules</h3>
        <table class="table table-dark table_design" id="table_data">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">marque</th>
                    <th scope="col">modele</th>
                    <th scope="col">date de fabrication</th>
                    <th scope="col">nombres de portes</th>
                    <th scope="col">prix</th>
                    <th scope="col">info</th>
                    <th scope="col">#Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vehicule : ${vehicules}">
                     <td><img th:src="@{/assets/img/user.png}" class="avatar rounded-circle mr-3" style="width: 35px;"></td>
                    <td>[[${vehicule.marque}]]</td>
                    <td>[[${vehicule.modele}]]</td>
                    <td class="date_text_design" th:text="${#dates.format(vehicule.datefab,'dd/MM/yyyy')}">[[${vehicule.datefab}]]</td>
                    <td>[[${vehicule.nbrportes}]]</td>
                    <td>[[${vehicule.prix}]]</td>
                    <td>
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                            th:attr="data-bs-target='#infoModal'+*{vehicule.id} ">
                            Info
                        </button>
                        <!--info Modal-->

                        <div class="modal fade" th:id="*{'infoModal'+{vehicule.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Info Vehicule</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row justify-content-center">
                                            <div class="card" style="width: 18rem;text-align: center;">
                                                <img src="/assets/img/user.png" class="img_user_control">
                                                <div class="card-body">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item"> marque : [[${vehicule.marque}]]</li>
                                                        <li class="list-group-item"> modele : [[${vehicule.modele}]] </li>
                                                        <li class="list-group-item"> date de fabrication: <span th:text="${#dates.format(vehicule.datefab,'dd/MM/yyyy')}"></span>  </li>                                                      
                                                        <li class="list-group-item"> nombres de portes: [[${vehicule.nbrportes}]]</li>
                                                        <li class="list-group-item"> prix :[[${vehicule.prix}]]</li>


                                                    </ul>
                                                </div>
                                            </div>

                                        </div>





                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>
                        <!-- Edit -->
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            th:attr="data-bs-target='#editModal'+*{vehicule.id} ">
                            Edit
                        </button>
                        <div class="modal fade" th:id="*{'editModal'+{vehicule.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary ">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/update-vehicule}">
                                                <input type="hidden" class="form-control" name="id" th:value="${vehicule.id}">
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">marque</label>
                                                <select class="form-select" aria-label="" name="marque" th:value="${vehicule.marque}">
                                          
                                         <option value="Mercedes">Mercedes</option>
                                        <option value="Toyota">Toyota</optionvalue="">
                                        <option value="haval">haval</option>
                                        <option value="BMW">BMW</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">modele</label>
                                                <input type="text" class="form-control" name="modele" th:value="${vehicule.modele}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">date de
                                                    fabrication</label>
                                                <input type="date" class="form-control" name="datefab" th:value="${vehicule.datefab}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">nombres de
                                                    portes</label>
                                                <input type="number" class="form-control" name="nbrportes" th:value="${vehicule.nbrportes}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">prix</label>
                                                <input type="number" class="form-control" name="prix" th:value="${vehicule.prix}">
                                            </div>

                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-warning">edit</button>
                                    </div></form>
                                </div>
                            </div>
                        </div>
                        <!---->



                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            th:attr="data-bs-target='#deleteModal'+*{vehicule.id} ">
                            Delete
                        </button>

                        <div class="modal" th:id="*{'deleteModal'+{vehicule.id}}"tabindex="-1" role="dialog" id="deleteModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger">
                                        <h5 class="modal-title">Confirmation: </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Etes vous sûre de supprimer cette tache :[[${vehicule.id}]]?</p>
                                    </div>
                                    <div class="modal-footer">
                                        
                                        <form action="/delete-vehicule">
                                        <input type="hidden" class="form-control" name="id" th:value="${vehicule.id}">
                                           <button type="submit" class="btn btn-danger">Supprimer</button>

                                        </form>
                                        
                                        
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>


<div th:insert="~{fragments/footer::footer}"></div> 



    <script>
      $(document).ready(function (){
          $('#table_data').DataTable(
           {
			   order:([0,'desc']),
			   lengthMenu:[2,5,10,20,50,100],
		   }
          );
        });
    </script>
</body>

</html>